.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 1px 20px;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 14px;
  word-wrap: break-word;
  font-weight: 400;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-bottom: 8px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #a3a3a3;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: rgb(36, 36, 36);
}

.backgroundGray {
  background: #b8b8b8;
}

.backgroundLight {
  background: #f3f3f3;
}
