.form {
  display: flex;
  width: 100%;
}

.input {
  border: none;
  color: whitesmoke;
  border-radius: 0 0 0 20px;
  padding: 0 0 0 30px;
  width: 80%;
  font-size: 1em;
  background-color: rgba(36, 36, 36, 1);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  font-size: 1rem;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(114, 24, 24, 1);
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 20px 0;
  width: 20%;
}

@media (max-width: 640px) {
  .input {
    border-radius: 0;
    font-size: 0.9rem;
  }
  .sendButton {
    border-radius: 0;
    font-size: 0.9rem;
  }
  .form {
    bottom: 0%;
    width: 100%;
  }
}
