body {
  background-image: url("./images/bg-zoom-dark.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
* {
  font-family: "Poppins";
  font-weight: 500;
}
